.App {
  color: #f7eac5;
  box-shadow: 0 0 50px #eba82c17; 
  border-radius: 16px;
  padding: 50px; 
  background-color: #1a1a1a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23eba82c' fill-opacity='0.12' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-blend-mode: soft-light;

}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, 
    #1a1a1a, 
    #eba82c,
    #1a1a1a
  );
  margin: 3rem 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.main-card {
  position: relative;
  background: #2a2a2a; 
  border: 1px solid #eba82c; 
  animation: fadeIn 0.8s ease-out;
  
}



.loader-overlay {
  position: absolute; /* dentro de la card */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.main-card h2 {
    font-size: 2.5rem;
    color: #ffffff; 
    margin-bottom: 0.2rem;
}

.main-card p {
    font-size: 1.1rem;
    color: #cccccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.card {
  padding: 2em;
}


.read-the-docs {
  color: #888888;
}
